.preview {
    display: inline-block;
    vertical-align: top;

    .color-swatch {
        height: 193px;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #CECECE;
        border-bottom-width: 0;
    }

    .css-block {
        font-size: 11px;
        width: 350px;
        height: 110px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid #CECECE;
        border-top-width: 0;
        background: rgba(239, 239, 239, 0.3);
        padding: 10px;
    }
}
