.configurator {
    background: rgba(239, 239, 239, 0.3);
    border: 1px solid #CECECE;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;

    .color-slider, .color-picker, .color-preview {
        border-radius: 5px;
    }

    .color-slider, .stops > div {
        margin-right: 5px;
    }

    .color-picker {
        margin-right: 10px;
    }

    .color-slider, .color-picker {
        cursor: crosshair;
    }

    .color-inputs {
        display: inline-block;
        vertical-align: top;

        label {
            display: inline-block;
            width: 15px;
        }

        .hex-wrapper {
            margin-top: 10px;

            label {
                width: 56px;
            }

            input {
                width: 77px;
            }
        }
    }

    input, select {
        outline: none;
        padding: 8px;
        width: 23px;
        margin-right: 5px;
        border: 1px solid #CECECE;
        margin: 1px;
    }

    select {
        background-color: #FFF;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        width: 95px !important;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    form {
        display: inline-block;
    }

    .color-form {
        margin-right: 10px;
    }

    .direction-form {
        label {
            width: 56px;
        }
    }

    .stops {
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;

        > div {
            width: 102px;
            display: inline-block;
        }

        .color-preview {
            height: 25px;
            width: 100%;
            border: 2px solid transparent;
            cursor: pointer;
        }

        .stop-selected {
            border-color: #000;
        }
    }
}
